<header>
    <p class="titulo">LostLetter</p>
    <div class="lista">
        <p><i class="fa-solid fa-magnifying-glass"></i><span>Buscar</span></p>
        <a href="/makeYourPost">Crear una publicación</a>
        <i class="fa-solid fa-bars"></i>
    </div>
</header>