<header>
    <p class="titulo"><a href="/publications">LostLetter</a></p>
    <div class="lista">
        <p></i><span>Buscar</span></p>
        <!-- <p><i class="fa-solid fa-magnifying-glass"></i><span>Buscar</span></p> -->
        <a href="/makeYourPost">Crear una publicación</a>
        <a href="/myPost">Mis publicaiones</a>
        <i class="fa-solid fa-bars menu"></i>
    </div>
</header>

<div class="menu__opciones">
    <div>
        <p><a href="/settings">Editar mis datos</a></p>
    </div>
    <div>
        <p><a href="/closeSession">Cerrar sesión</a></p>
    </div>
</div>