.btn__two{
    width: 90%;
    background-color:  #656565 ;
    border: none;
    padding: 10px 15px 10px 15px;
    margin-left: calc(5% + 2px);
    margin-top: 1vh;
    margin-bottom: 4vh;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
}
.btn__two:hover{
    background-color:  #7366fa ;
    cursor: pointer;
}
